#header {
	background-color: #007BA7;
}

#header .about-search {
	padding: 1em;
	text-align: center;
}
#header .about-search a{
	text-decoration: none;
	font-size: 1em;
	font-family: "Arial Narrow", Arial, sans-serif;
	padding: 0.5em;
	color: rgb(7, 53, 81);
}
#header .logo {
	text-align: center;
	padding: 1.5em;
	color: rgb(7, 53, 81);
}
#header .title {
	text-align: center;
	font-size: 2.25em;
	padding: 0.25em 0.25em 0.25em 0.25em;
	font-family: arial;
	color: white;
}
#header .tagline {
	text-align: center;
	padding: 0.1em 0em 1.65em 0em;
	font-family: arial;
	color: rgb(7, 53, 81);
}



#content .article-title {
	font-size: 4em;
	font-family: "Arial Narrow", Arial, sans-serif;
	padding: 0.75em 0em 0em 0.5em;
	line-height: 1.35em;
	color: rgb(7, 53, 81);
	weight: 600;
}
#content .date {
	color: rgb(187, 199, 207);
	text-decoration: underline;
	font-family: sans-serif;
	padding: 0.15em 0em 1em 2em;
	font-size: 1.25em;
}
#content .text1 {
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 1.15em;
	padding: 1em 1.25em 1em 1.25em;
	color: #aaa;
}
#content .text1 a {
	color: #bbb;
}
#content .quote {
	border-left: 3px solid rgb(213, 213, 213);
	font-size: 1.5em;
	line-height: 1.35em;
	margin-left: 1em;
	margin-top: 0.75em;
	color: rgb(50, 127, 207);
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-family: "Arial Narrow", Arial, sans-serif;
}
#content .text2 {
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 1.15em;
	padding: 1.75em 1.25em 0.85em 1.25em;
	color: #aaa;
}
#content .text2 a {
	color: rgb(93, 148, 198);
}



#content .share .forward{
	margin-left: 1em;
	font-size: 1.5em;
	padding: 0.5em 0.6em 0.35em 0.6em;
	background-color: rgb(8, 53, 81);
	display: inline-block;
	color: white;
}
#content .share .message {
	margin-left: 0.5em;
	background-color: rgb(95, 104, 112);
	display: inline-block;
	font-size: 1.5em;
	padding: 0.5em 0.6em 0.35em 0.6em;
	color: white;
}
#content .share .cloud {
	margin-left: 0.5em;
	font-size: 1.5em;
	text-align: center;
	padding: 0.25em;
	background-color: rgb(95, 104, 112);
	padding: 0.5em 0.6em 0.35em 0.6em;
	display: inline-block;
	color: white;
}



#content .footer .dolphin-pic {
	background-image: url(pictures/dolphin.jpeg);
	height: 100px;
	width: 50px;
	margin: 0 auto;
}
#content .footer .author {
	text-align: center;
	color: rgb(50, 127, 207);
	font-size: 1.5em;
	font-family: "Arial Narrow", Arial, sans-serif;
}
#content .footer .connect {
	text-align: center;
	padding-bottom: 6em;
}
#content .footer .connect a{
	padding: 0.5em;
	text-decoration: none;
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 1.25em;
	color: #aaa;
}

#content .ad {
		border-bottom: 2px solid rgb(213, 213, 213);
		padding-bottom: 5em;
}
#content .ad a {
	text-align: right;
	font-size: 1.25em;
	color: #aaa;
	font-family: sans-serif;
}



#other-posts .title {
	font-size: 2.35em;
	text-align: center;
	font-family: "Arial Narrow", Arial, sans-serif;
	color: rgb(7, 53, 81);
	padding-top: 2.5em;
	padding-bottom: 0.6em;
}
#other-posts .post1 {
	font-size: 2.35em;
	text-align: left;
	font-family: "Arial Narrow", Arial, sans-serif;
	color: white;
	padding: 6.75em 3em 0.5em 0.65em;
	width: 200px;
	margin: 0.5em;
	background-color: rgb(99, 158, 205);
}
#other-posts .post2 {
	font-size: 2.35em;
	text-align: left;
	font-family: "Arial Narrow", Arial, sans-serif;
	color: white;
	padding: 3.75em 3em 0.5em 0.65em;
	width: 200px;
	margin: 0.5em;
	background-color: rgb(99, 158, 205);
}
#other-posts .post3 {
	font-size: 2.35em;
	text-align: left;
	font-family: "Arial Narrow", Arial, sans-serif;
	color: white;
	padding: 5.75em 3em 0.5em 0.65em;
	width: 200px;
	margin: 0.5em 0.5em 3em 0.5em;
	background-color: rgb(99, 158, 205);
}
#footer {
	background-color: rgb(8, 53, 81);
	width: max;
	text-align: center;
	font-family: sans-serif;
	padding-top: 4em;
	padding-bottom: 3.5em;
}
#footer a {
	text-decoration: none;
	color: rgb(142, 160, 174);
	font-size: 1.25em;
	margin: 0em 0.5em 0em 0.5em;
	line-height: 1.5em;
	text-align: center;
}
#footer .nav1 {
	border-right: 2px solid rgb(68, 86, 101);
}
#footer .nav2 {
	border-right: 2px solid rgb(68, 86, 101);
}
#footer div{
	color: rgb(142, 160, 174);
	font-size: 1.25em;
	line-height: 1.5em;
}
#footer .logo{
	padding: 2em 0em 2em 0em;
	color: rgb(142, 160, 174);
	font-size: 1.5em;
	line-height: 1.5em;
}